header {
  position: sticky;
  top: 0; }

.logo {
  height: 40px;
  border-radius: 50%; }

.menu {
  background-color: #0c0a14;
  display: flex;
  align-items: center;
  border-bottom: 1px white solid; }
  .menu li {
    display: inline-block; }
    .menu li a {
      list-style: none;
      display: block;
      color: white;
      padding: 20px;
      text-decoration: none;
      font-size: 1rem;
      transition: transform 0.8s; }
      .menu li a:hover {
        transform: scale(1.4); }

/* Footer */
footer {
  color: white; }

.footerSocial {
  padding: 10px; }
  .footerSocial li {
    display: inline-block; }
    .footerSocial li a {
      color: #bdbfc9;
      padding: 10px;
      margin: 0 10px;
      border-radius: 50%;
      font-size: 1.5rem;
      transition: transform 0.8s; }
      .footerSocial li a:hover {
        transform: scale(1.5); }

h2 {
  font-size: 1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #211629; }

/* INICIO */
.main {
  height: 700px;
  color: white; }

.section1 {
  height: 150px; }
  .section1 h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px; }

.section2 p {
  margin-top: 20px; }

/* Grid Inicio */
/* .bodyIndex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 85px 1fr 1fr 60px;
    grid-template-areas: "header header header header"
                        "main main main main"
                        "main main main main"
                        "footer footer footer footer";
} */
.header {
  grid-area: header; }

.main {
  grid-area: main;
  height: 800px; }

.section1 {
  text-align: center;
  margin-bottom: 30px; }

.section2 {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center; }

.footer {
  grid-area: footer;
  text-align: center; }

/* NOSOTROS */
/* Grid Nosotros */
/* .bodyNosotros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px 1fr 1fr 60px;
    grid-template-areas: "header header header"
                            "main main main"
                            "main main main"
                            "footer footer footer";
} */
.mainNosotros {
  grid-area: main;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  color: whitesmoke; }
  .mainNosotros div {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; }

.textoInformativo {
  margin-bottom: 20px; }

/* EVENTOS */
/* 
.bodyEvento{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px 1fr 60px;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
} */
.contenedorEvento {
  grid-area: main;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  height: 1000px; }
  .contenedorEvento section {
    margin-top: 20px; }

.titulo {
  margin-bottom: 5px; }

.seccion1 {
  /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
  background-color: #110c24;
  border: #bdbfc9 solid 1px;
  padding: 10px;
  height: 110px; }
  .seccion1:hover {
    transition: height 2s;
    height: 300px; }

.seccion2 {
  background-color: #110c24;
  border: #bdbfc9 solid 1px;
  padding: 10px;
  height: 110px; }
  .seccion2:hover {
    transition: height 2s;
    height: 300px; }

.seccion3 {
  background-color: #110c24;
  border: #bdbfc9 solid 1px;
  padding: 10px;
  height: 110px; }
  .seccion3:hover {
    transition: height 2s;
    height: 300px; }

.seccion4 {
  background-color: #110c24;
  border: #bdbfc9 solid 1px;
  padding: 10px;
  height: 110px; }
  .seccion4:hover {
    transition: height 2s;
    height: 300px; }

/* TICKETS */
/* .bodyTickets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px 1fr 60px;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
} */
.contenedorTickets {
  grid-area: main;
  height: 55vh;
  color: white;
  margin: 20px; }
  .contenedorTickets div {
    margin-top: 30px; }

/* CONTACTOS */
.formularioContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding-bottom: 100px; }

.formularioContacto h3 {
  margin: 20px;
  color: white; }

.formularioContacto label {
  height: 10px; }

.formularioContacto Input {
  height: 30px; }

.formularioContacto button {
  margin-top: 20px;
  padding: 10px;
  background-color: black;
  color: white; }

.formularioContacto button:hover {
  background-color: white;
  color: black; }

/* Grid Contacto */
/* .bodyContacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px 1fr 60px;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
} */
.mainContacto {
  grid-area: main; }

/* MEDIA QUERIES */
@media only screen and (max-width: 767px) {
  /* INICIO */
  .menu {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .main {
    height: 500px; }
  .menu li a {
    padding: 2px; }
  .section2 p {
    display: none; }
  .section2 img {
    width: 500px;
    margin-top: 150px; }
  .section1 {
    height: 200px; }
  .footer {
    margin-top: 200px; }
  /* NOSOTROS */
  .imagenesNosotros img {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu {
    display: flex;
    justify-content: center; }
  .section1 {
    height: 200px;
    margin-bottom: 90px; }
  .section2 p {
    display: none; }
  /* NOSOTROS */
  .imagenesNosotros img {
    /* flex-wrap: wrap; */
    display: none; } }
